$borderRadius: 3px;
$colorBorder: #f3f3f3;
$colorGrey: rgb(164, 163, 170);
$colorBlue: #3498db;
$colorSkyBlue: #c9e9ff;
$colorTranslucentBlack: rgba(0, 0, 0, 0.42);
$lineHeight: 1.6;
$paddingBase: 32px;
$paddingSmall: 16px;
$paddingXSmall: 8px;
$transitionSpeed: 0.3s;

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #222;
}

form {
  margin: 0;
}

input,
button,
.btn {
  padding: $paddingXSmall;
  border: 3px solid $colorBorder;
  background-color: $colorBorder;
  transition: $transitionSpeed;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

button,
.btn {
  background-color: $colorGrey;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-color: $colorGrey;
  display: inline-block;
  text-align: center;

  &:hover {
    border-bottom-color: $colorBlue;
    transform: translateY(-1px);
  }
}

.main {
  padding: $paddingBase;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

.loader {
  border: 4px solid $colorBorder;
  border-top: 4px solid $colorSkyBlue;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  margin: $paddingBase auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.teasers {
  text-align: center;
  padding: $paddingBase;
}

.teaser {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  margin-bottom: $paddingSmall;

  &__img {
    background-size: cover;
    height: 300px;
    width: 200px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: $transitionSpeed;
    transform: translateY(16px);
  }

  &:hover &__content {
    opacity: 1;
    transform: translateY(0px);
  }

  &__body {
    background-color: $colorTranslucentBlack;
    color: white;
    line-height: $lineHeight;
    margin: 0;
    padding: $paddingSmall;
  }

  .btn {
    width: 100%;

    &:hover {
      transform: translateY(0);
    }
  }
}
