$borderRadius: 3px;
$colorBorder: #f3f3f3;
$colorGrey: rgb(164, 163, 170);
$colorBlue: #3498db;
$colorFont: #111;
$colorFontLight: #444;
$colorSkyBlue: #c9e9ff;
$colorTranslucentBlack: rgba(0, 0, 0, 0.42);
$colorWhite: #fff;
$lineHeight: 1.6;
$paddingBase: 32px;
$paddingSmall: 16px;
$paddingXSmall: 8px;
$siteWidth: 1000px;
$transitionSpeed: 0.3s;

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: #222;
  color: $colorFont;
}

form {
  margin: 0;
}

input,
button,
.btn {
  padding: $paddingXSmall;
  border: 3px solid $colorBorder;
  background-color: $colorBorder;
  transition: $transitionSpeed;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

button,
.btn {
  background-color: $colorGrey;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-color: $colorGrey;
  display: inline-block;
  text-align: center;

  &:hover {
    border-bottom-color: $colorBlue;
    transform: translateY(-1px);
  }
}

.main {
  padding: $paddingBase;
  height: 100vh;
  max-width: $siteWidth;
  margin: 0 auto;
}

.loader {
  border: 4px solid $colorBorder;
  border-top: 4px solid $colorBlue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: $paddingBase auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.teasers {
  text-align: center;
  padding: $paddingBase;
  margin-bottom: -$paddingSmall;
}

.teaser {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  margin-bottom: $paddingSmall;

  &__img {
    background-size: cover;
    height: 300px;
    width: 200px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: $transitionSpeed;
    transform: translateY(16px);
  }

  &:hover &__content {
    opacity: 1;
    transform: translateY(0px);
  }

  &__body {
    background-color: $colorTranslucentBlack;
    color: white;
    line-height: $lineHeight;
    margin: 0;
    padding: $paddingSmall;
  }

  .btn {
    width: 100%;

    &:hover {
      transform: translateY(0);
    }
  }
}

.pagination {
  text-align: center;
  padding: 0 $paddingBase $paddingBase;
  max-width: $siteWidth;

  &__link {
    padding: $paddingXSmall;
    font-weight: bold;
    cursor: pointer;
    transition: $transitionSpeed;
    color: white;
    display: inline-block;
    vertical-align: top;
  }

  &__link--active,
  &__link:hover {
    background-color: $colorWhite;
    color: $colorBlue;
    transform: translateY(-1px);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorTranslucentBlack;
  opacity: 0;
  pointer-events: none;
  transition: $transitionSpeed;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    background-color: $colorWhite;
    border-radius: $borderRadius;
    padding: $paddingBase;
    position: relative;
    display: flex;
    align-items: flex-start;
    opacity: 0;
    transform: scale(0.66);
    transition: $transitionSpeed;
  }

  &--active &__content {
    opacity: 1;
    transform: scale(1);
  }

  &__img {
    background-size: cover;
    height: 300px;
    width: 200px;
  }

  &__body {
    line-height: $lineHeight;
    max-width: 600px;
    margin-left: $paddingBase;

    h3 {
      margin-top: 0;
    }

    small {
      color: $colorFontLight;
    }
  }

  &__close {
    position: absolute;
    right: -16px;
    top: -16px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
